.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.radial-bar {
  max-width: 100px;
  max-height: 100px;
  padding: 10px 0px;
}

.radial-bar-title {
  font-size: 0.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.machine-dock {
  display: flex;
}